API_ID=9797600
API_HASH=9c33a79118c2cb1bf13401a37bf3d70c
SESSION_NAME=BQCU-QOEzmxmU32qjmbkchP1M3JVoy_T_7699WG4dO-sQqSBC3s5g82IPslYJfs16JpJMTujuZUYIttzwHncDfjxvRl69V75fSU4SBeLj6WRmC6DaGi6GdmDXFwoeTQODM-eFYo3p_iBJtQnx5XxGFFpT_OA_MqoLr7oBjYCFUXB4ZPtzi0kWOwcouq2tkU-Hy5wILLFZFwiO8MXt-813l9KiQaA1hZ1VzDboL8INVHsRGyq5j5f3-cQJ3kbDpZeTQvsvpoAgpB2d5Xc-8TsWy9j6zL6GrRdE9TJbqK-xN-7Uusyzq2SyKYSufv699iN4JOkKyhjW_kJXWb5f9EsN172AAAAAUViqG8A
BOT_TOKEN=5434884471:AAF3N39kLOTOlosoOGUUf1gSn9c8JeWSevA 
OWNER_ID=6256455516
SUDO_USER=5459060847
