aiofiles
aiohttp
asyncio
dnspython
numpy==1.24.3
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
pillow==10.0.1
psutil
py-tgcalls==0.9.7
pykeyboard
pyrogram==1.4.16
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
wget
youtube-search
youtube-search-python
yt-dlp
